body
{
    color:red;
    text-align: center;
    font-family: "Arial";
}


#cabecera
{
    background: #88F;
    color: white;
    margin: 0;
    padding: 0.5em;
}


#Container
{
    width: 70%;
    padding: 1em;
    text-aling: left;
    border: 1px solid #DDD;    
}

#Container h1
{
    font-size: 20px;
}